3* {
	font-family: 'Noto Sans';
	color: #242424; 
}
a{
    color:#F15025;
}
.wrapper-slider-img span{
    font-family: 'Noto Sans';
    color: #242424; 
    font-size: 0.6em;
    vertical-align: middle;
    margin-left: 2px;
    font-weight: 300;
}

*:focus {
    outline: none!important;
}

textarea:focus {
    box-shadow:none!important;
    border-color:rgb(137, 137, 137)!important;
}

::placeholder{
    color: #aaa!important;
    opacity: 1;
}
  
.clear{
    clear:both;
}

hr{
    margin: 40px 0;
}
h2{
    font-size: 2.18em;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #033A44;
    font-weight: 600;
}
h3, .title.is-3{
    font-family: 'Lato', sans-serif;
    font-size: 1.75em;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.01em;
    color: #F15025;
}
h4{
    text-transform: uppercase;
    color: #033A44;
    text-align: center;
}

h5{
    color: #033A44;
    text-align: center;
}

h6{
    color: #4A4A4A;
    font-weight: 700;
    text-align: center;
}
.container{
    margin:0 auto;
    padding:0 20px;
}

.maincontent{
    margin-top: 2rem;
}

.max-container{
    max-width:1600px;
    margin: auto;
}

/* Navbar */

.bluebgcolor{
    background-color: #D8EFF4;
}

.orangecolor{
    color: #F15025;
}

.greencolor{
    color: #033A44;
}

.graybgcolor{
    background-color: #E7ECEF;
}
.navbar{
    z-index: auto;
}

.navbar-burger span{
    color: #F15025;
}

.navbar-link:not(.is-arrowless)::after {
    border-color: #F15025;
}
#headlogo{
    background: url(../images/serva-lite-logo.png) no-repeat center;
    background-size: cover;
    width: 90px;
    height: 90px;
}
.navbar-link, .navbar-item, .navbar-dropdown>a{
    color: #033A44;
}

.navbar-dropdown .navbar-item>img{
    margin-right: 10px;
    float: left;
}
    
a.navbar-item:hover,  a.navbar-item:active,
a.navbar-link:hover,  a.navbar-link:active, .navbar-dropdown>a:hover{
    color: #F15025;
    background-color: none;
}

.navbar-burger > i{
	font-size: 1.3em;
}  

#navbar-collapse-button .navbar-link {
	padding-right: .75em;
	justify-content: center;
}

#navbar-collapse-button .navbar-link::after {
	top: auto;
	right: auto;
	margin-top: 1em;
}
.navbar-brand {
	align-items: center;
}
.navbar-brand .navbar-burger.burger>span {
	height:2px;
}
.navbar-item>.i-search {
    cursor: pointer;
}
/* Slider */
#hero-title-h1{
    color: #033A44;
    font-size: 3.1em;
    font-weight: 700;
    line-height: 1.3em;
    margin-bottom:2.5rem;
}

.button.is-primary.is-large{
    box-sizing: border-box;
    border: 2px solid #F15025;
    background: transparent;
    border-radius: 30.5px;
    font-size: 1.3em;
    color:#F15025;
    text-transform: uppercase;
    padding-left: 2em;
    padding-right: 2em;
}

#herotitlealign{
    margin-top: 5rem;
}
.main-show .wrapper-slider-img>p, .main-show .wrapper-slider-img>hr{
    position: absolute;
}

.wrapper-slider-img .hint{
    padding: 0.2em;
    font-size: 1.5em;
    border-radius: 50%;
    color: #F15025;
    position: absolute;
}

#check1{
    top: 14%;
    left: 16%;
    animation-duration: 2s;
}

#check2{
    top: 54%;
    left: 22%;
    animation-duration: 1s;
}

.wrapper-slider-img hr{
    margin: 0 0;
    width: 5em;
    height: 1px;
    background-color: #979797;
}

.wrapper-slider-img .subtitle.is-5{
    text-align: left;
    margin-top: 5px;
}
.wrapper-slider-img .subtitle.is-3{
    text-align: left;
    color: #033A44;
    margin-bottom: 5px;
}

/* Content */

.title-align-in-content{
    text-align:center;
    margin-top: 1.8em;
}

.subtitle-align-in-content{
    margin: 0.5em auto;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.01em;
}


/* Article */
.title-vertical-align{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.articletext{
	line-height: 2.5em;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    margin-bottom: 30px;
    text-align: justify;
    text-justify: inter-word;
}

.space-article{
    margin-bottom: 20px;
}

.space-article .circleMedium{
    right: -10%;
    top:-10%;
}

.space-article .circleBig{
    left: 40%;
    top:30%;
}

.space-article .circleSmall{
    right: 5%;
    top:-10%;
}

#title-verical-align{
    color: #F15025;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
    align-content: center;
    position: relative;
}

.link-more>a, .categories p{
    color: #4A4A4A;
    font-size: 1em;
}

.link-more>a>i, .categories i{
    color: #898989;
    font-size: 0.9em;
}

/* Brands */
.brand-tiles>h3{
    margin:30px auto;
}

.brand-tiles>.columns>.column{
    border:3px solid #D8EFF4;
    padding:0.5rem;
    margin: 10px;
    text-align: center;
    display: flex;
	justify-content: center;
	align-items: center;
}

.brand-tiles>.columns>.column:nth-child(2){
    border:3px solid #E7ECEF;
}

.brand-tiles>.columns>.column img{
    opacity: 0.5;
}
.brand-tiles>.columns>.column img:hover{
    opacity: 1;
}
.brand-tiles>.columns>.column img{
    margin: 10px;
    max-width: 130px;
}
/* Footer */
.footer-right>p, .footer-right>h2, .footer-right>div{
    text-align: right;
    margin-top: 1.3rem;
    position: relative;
    z-index: 1;
}
.footer-right>button{
    margin-top: 1.3rem;
    float:right;
}

.footer-p{
    line-height: 1.8rem;
    font-size: 1rem;
}
.footer::before{
    margin-top:13em;
}

#copyright-string{
    margin-top: 0.6rem;
    font-size: 0.8em;
}

.footer-items img {
    vertical-align: middle;  
    margin-right: 10px;
}

.footer-items li a{
    color: #242424; 
    font-size: 1.12em;
    display: flex;
    align-items:center;

}

.footer-items li {
    margin: 24px auto;
}

.footer-copyright{
    text-align: center;
    margin-bottom: 25px;
}

/* Breadcrumb */
.bd-breadcrumb{
    margin: 1.5em 0;
}
.breadcrumb, .breadcrumb a{
    color: #898989;
}

/* Categories */

.categories a>div{
    background-color: #E7ECEF;
    padding:0.75rem;
    position: relative;
    overflow: hidden;
}


.categories a>div:hover{
    background-color: #D8EFF4;
}

.categories h2{
    text-align: left;
}

.categories img{
    float:right;
    z-index: 1;
    position: relative;
}

.categories p{
clear: both;
}

.categories-tiles .column>div{
    background-color: #E7ECEF;
    padding:0.75rem;
    height: 100%;
}
.categories-tiles .column>div:hover{
    background-color: #D8EFF4;
}

.categories-tiles .column a>div{
    height: 200px;
    display:flex;
    justify-content: center;
	align-items: center;
	align-content: center;
}
.series, .products{
    margin: 20px 20px;
}
/* Series */
.series-text{
    text-align: center;
    line-height: 40px;
}
.choose-brand>button:hover{
    background-color: #D8EFF4;
}

.choose-brand>button:active{
    box-shadow:none;
}
.choose-brand{
    margin: 15px 10px 5px 10px;
}

.choose-brand>button{
    height: 47px;
    width: 130px;
    border: none;
    border-radius: 34px;
    background-color: #E7ECEF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
    margin-right: 10px;
    margin-bottom: 5px;
    color: #242424;
    font-size: 1.25em;
}
.choose-brand button>img{
    vertical-align: middle;
}

.grid-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
  
.grid-item {
    flex-basis: 20%;
    -ms-flex: auto;
    width: 259px;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
}

.wrapping-link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin:10px 6px 6px;
    z-index: 2;
}
.grid-item-wrapper img {
    width:100%;
}
.grid-item-wrapper {
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
    background-color: #E7ECEF;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    -webkit-transition: padding 0.15s cubic-bezier(0.4,0,0.2,1), margin 0.15s cubic-bezier(0.4,0,0.2,1), box-shadow 0.15s cubic-bezier(0.4,0,0.2,1);
    transition: padding 0.15s cubic-bezier(0.4,0,0.2,1), margin 0.15s cubic-bezier(0.4,0,0.2,1), box-shadow 0.15s cubic-bezier(0.4,0,0.2,1);
    position: relative;
    text-align:center;
}

.grid-item-wrapper-border {
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
    border: 3px solid #E7ECEF;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    -webkit-transition: padding 0.15s cubic-bezier(0.4,0,0.2,1), margin 0.15s cubic-bezier(0.4,0,0.2,1), box-shadow 0.15s cubic-bezier(0.4,0,0.2,1);
    transition: padding 0.15s cubic-bezier(0.4,0,0.2,1), margin 0.15s cubic-bezier(0.4,0,0.2,1), box-shadow 0.15s cubic-bezier(0.4,0,0.2,1);
    position: relative;
    text-align:center;
}

.grid-item-container {
    height: 100%;
    width: 100%;
    position: relative;
}

.grid-item-content {
padding: 5px 10px 5px 10px;

}

/* One-series */
.one-series h2, .one-series p, .product-dscr p:last-child{
    text-align: left;
}
.one-series p{
    line-height: 40px;
    text-align: justify;
    text-justify: inter-word;
}
.one-series img{
    float:right;
}

/* Filters */
#filter-collapse-button {
    position: relative;
    z-index: 3;
}
#filter-collapse-button select{
    background-color: #E7ECEF;
    border: none;
    font-size: 1em;
    border-radius: 0!important;
    color: #4A4A4A;
    min-height: 30px;
}

.product-dscr select{
    background-color: #E7ECEF;
    border: none;
    font-size: 1em;
    border-radius: 0!important;
    color: #4A4A4A;
    min-height: 30px;
}

.product-dscr select{
    width: 180px;
}


.filter{
    position: relative;
    z-index: 1;
}


.bf2 {
    display:none;
}

.burgerFilter.is-active .bf1 {
    display:none;
}
.burgerFilter.is-active .bf2 {
    display: block;
}

a.burgerFilter.is-active{
    background-color: transparent;
}

.bf1{
    color: #033A44;
}

@media screen and (min-width: 1024px) {
    .burgerFilter {
        display: none;
    }
    
}

.filter .burgerFilter i{
    float:right;
    height: 40px;
    width: 40px;
    background-color: #D8EFF4; 
    border-radius: 50%;
    display: flex;
	justify-content: center;
	align-items: center;
}

.filter i:hover{
    background-color:#F15025;
  cursor: pointer;
  -webkit-transition: background-color .5s ease-out;
  -moz-transition: background-color .5s ease-out;
  -o-transition: background-color .5s ease-out;
  transition: background-color .5s ease-out;
}

.filter .burgerFilter {
    position:relative;z-index:4;
    height: 40px;
    line-height: 40px;
    width: 90px;
    background-color: #E7ECEF; 
    border-radius: 0 40px 40px 0;
    text-align: middle;
    justify-content: center;
    float:left;
    padding-left: 10px;
}

.burgerFilter.is-active {
    width:40px;
}

.filter .navbar{
    justify-content: center;
    align-items: center;
    height: 40px;
}

@media screen and (min-width: 1024px) {
    .navbar-item.select {
        align-items: stretch;
    }
}

.filter-wrapper {
    position:relative;
    z-index:3;
    margin-top:10px;
}
/* Products */
.products{
    text-align: center;
}

.products .grid-item{
    border: 3px solid #E7ECEF;
}
p.is-hidden-tablet{
    margin: 20px 0;
    line-height: 1.8em;
    font-size: 1.12em;
}
.spec-wrapper{
    background-color: #E7ECEF;
    padding: 20px;
    width: 100%;
    margin-bottom: 50px;
}
.gallery-wrapper{
    background-color: #fff;
    width: 100%;
}

.spec-wrapper .column div{
    margin: 20px auto;
}
.spec-wrapper i{
    color: #F15025;
    font-size: 1.8em;
}
.spliter{
    border-left: 1px solid #898989;
    height: 30px;
}
/* Product page*/
.slide{
    position: relative;
}
.is-8>div{
    position:relative;
}

.product-dscr article div{
    display: flex;
    float: right;
    align-items: center;
}

.dot{
    background-color: #F15025;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: block;
    margin-right: 10px;
}
.product-dscr p{
    clear: both;
    text-align: right;
    margin: 15px 0;
    line-height: 1.8em;
    font-size: 1.12em;
}

.product-dscr .columns{
    text-align: right;
    flex-direction: column;
}

.product-dscr .column{
    padding:0.4rem;
}

#reset{
    margin: 5px;
    text-decoration: underline;
    cursor: pointer;
    margin: 0.5rem 0;
    font-size: 1em;
    padding: 0.2em 0.6em;
}

.certificate-logos img{
    height: 50px;
    margin: 10px 10px;
    margin-top: 20px;
}
/* Circles */

.circle{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
}
.circle-solid{
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
}
.circleBig{
    width: 20vw;
    height: 20vw;
    left:30%;
}
.circleExtraSmall{
    width: 10vw;
    height: 10vw;
}

.circleSmall{
    width: 10vw;
    height: 10vw;
}
.circleMedium{
    width: 12vw;
    height: 12vw;
}
.circleExtraBig{
    width: 26vw;
    height: 26vw;
}

.circleblue{
    background-color: rgba(216, 239, 244, 0.8);
    width: 3vw;
    height: 3vw;
    top: 40%;
    z-index:-1;
}

.circlegray{
    position: absolute;
    background-color: rgba(231, 236, 239, 0.6);
    width: 5vw;
    height: 5vw;
    top: 50%;
    z-index:-1;
}

.hero.bluebgcolor.is-small .circleMedium{
    left:80%;
    top:-10%;
}
.hero.bluebgcolor.is-small .circleExtraSmall{
    right: 35%;
    bottom:-10%;
}
.hero.bluebgcolor.hero-title-center .circleSmall{
    left:55%;
    top: -60%;
}
footer.hero.graybgcolor{
    overflow: hidden;
    margin-top: 40px;;
}
footer.hero.graybgcolor .circleBig{
    left: 80%;
    top:-5%;
}
footer.hero.graybgcolor .circleMedium{
    left: 70%;
    top:-5%;
}
footer.hero.graybgcolor .circleSmall{
    right: 5%;
    top:40%;
}
footer.hero.graybgcolor .circleExtraBig{
    right:-25%;
    top: 25%;
}
/* Repairs */

.repairs .column p>img{
    margin: 20px 20px 0 0;
    max-width: 100px;
}

/* About */
.about h2{
    margin-bottom: 20px;
    text-align: left;
}
.coworkers .columns{
    margin: 20px 0;
}
.coworkers .columns.is-vcentered{
    align-items: flex-start;
}
.coworkers h3, .coworkers h6{
    text-align: left;
    margin: 10px 0;
}
.coworkers p{
    margin: 20px 0;
    line-height: 40px;
}
/* Contact */
.contact>.column{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact>.is-7>div{
    padding: 20px;
    width: 100%;
    background-color: #D8EFF4;
}

.contact>.is-7>div>div{
    display: flex;
    align-items: center;
}
.contact>.is-5>div{
    padding:20px;
    width: 100%;
    background-color: #E7ECEF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.is-5 table{
    border-collapse: separate;
  border-spacing: 10px 0;
}
.is-5 td{
   padding: 10px 0;
}

.is-5 table tr>td:first-child{
    color: #033A44;
    font-size: 1.12em;
    font-weight: bold;
}

.btn-slogan{
    margin: 20px 0;
}
.btn-slogan h4{
    text-align: right;
    font-weight: bold;
}
.btn-slogan .is-5{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.contact i{
    border-radius: 50%;
    padding: 0.7em;
    height:60px;
    width: 60px;
    text-align: center;
    vertical-align: middle;
    font-size: 1.2em;
    color: #033A44;
    background-color: #fff;
    line-height: 33px;
    margin: 25px 0;
}
.contact span:last-child{
    color: #033A44;
    font-size: 1.25em;
    font-weight: bold;
    margin-left: 15px;
    text-align: left;
}
/* Map in Contact*/

.googlemap{
    overflow:hidden;
    padding-bottom:365px;
    position:relative;
    height:0;
    margin-top: 40px;
}

.googlemap iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.hero.bluebgcolor{
    overflow: hidden;
    position:relative;
}
.hero.bluebgcolor h2{
    z-index: 1;
    position:relative;
}

.hero-title-center .hero-body{
    padding: 1rem;
}
/* Ask a question form */
.modal{
    display: none; /* Hidden by default */
    z-index: 3; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content .control {max-width: 90%; margin: 0 auto;}

.modal-content form>button{
    margin: 30px 0;
}

.modal.search .modal-content{
    padding: 0;
}

.search input{
    border: none;
}

.textarea{
    height: 130px;
    margin: auto;
    border: 1px solid #898989;
    border-radius: 0;
    color: #242424; 
}

.modal-content form input{
    margin-bottom: 20px;
    border-radius: 0;
    border: 1px solid #898989;
}

.modal-content form{
    margin-top: 10%;
}
.search-modal {
    margin: auto;
    width: auto;
    text-align: center;
}

.search-modal>input{
    width: 50%;
    height: 40px;
    border: 1px solid #898989;
    font-size: 1em;
    line-height: 22px;
    padding: 0 10px;
} 

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    width: 500px;
    text-align: center;
}

.close {
    color: #898989;
    position: absolute;
    font-size: 25px;
    left: 0;
    right: auto;
    margin-left: 20px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Carousel */
.mainContent .carousel{
    margin-top: 30px;
}
.carousel-title{
    margin-top: 25px;
}
.carousel .wrapper-carousel-img>a>div{
    background-color: #E7ECEF;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}
.carousel .wrapper-carousel-img>a>div>img{
    flex-direction: column;
}
.responsive-carousel .wrapper-carousel-img>a>div{
    margin: 0 10px;    
    padding: 10px;
    background-color: #fff;
    border: 2px solid #D8EFF4;
    text-align: center;
    display: block;
    overflow: hidden;
}

.responsive-carousel .grid-item-content{
    color: #242424;
}

.responsive-carousel>ul{
    position: relative;
    display: flex!important;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 20px;
}
.responsive-carousel {
    margin-top: 25px;
}
.responsive-carousel div.wrapper-carousel-img>a div {
    height:100%;
    display:block;
}

.slick-track{
    display: flex;
    width:100%;
}
.product-show {
    max-width:100%;
    left:0;
    top: 0;
    overflow: hidden;
    border: 3px solid #D8EFF4;
    text-align: center;
    vertical-align: middle;
}

.single-item button.slick-prev{
    background-image: url("../images/icons/chevron-left-solid.svg");
    background-repeat: no-repeat;
    border: none;
    position: absolute;
    height: 30px;
    width: 30px;
    background-position: 50% 50%;
    background-color: transparent;
    text-indent: -9000px;
    top: 50%;
    left: 0;
    z-index: 2;
    cursor: pointer;
}

.single-item button.slick-next{
    background-image: url("../images/icons/chevron-right-solid.svg");
    background-repeat: no-repeat;
    border: none;
    position: absolute;
    height: 30px;
    width: 30px;
    background-position: 50% 50%;
    background-color: transparent;
    text-indent: -9000px;
    top: 50%;
    right: 0;
    z-index: 2;
    cursor: pointer;
}

.main-show{
    max-width:100%;
    left:0;
    top: 0;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    z-index: 2;
}
.main-show button.slick-prev, .main-show button.slick-next, .responsive-carousel button.slick-prev, .responsive-carousel button.slick-next{
    display:none!important;
}

.main-show ul>li::after{
    float:left;
}

.product-show>ul>li{
    display: inline-block;
    margin-bottom:5px;
}
.title-main-show{
    position: absolute;
    bottom: 7%;
}
.slick-dots>li>button{
    visibility: hidden;
    position: absolute;
    display: block!important;
}

.slick-dots>li::after{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #979797;
    position: relative;
    float: right;
    content: "";
    margin: 0 7px;
    visibility: visible!important;
}

.slick-dots>li.slick-active::after{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #F15025;
    position: relative;
    text-align: center;
    content: "";
    margin: 0 7px;
    visibility: visible!important;
}

.carousel button.slick-prev{
    background-image: url("../images/icons/chevron-left-solid.svg");
    background-repeat: no-repeat;
    border: none;
    position: absolute;
    height:20px;
    width: 20px;
    background-position: 50% 50%;
    text-indent: -9000px;
    background-color: transparent;
    top: 50%;
    left: -10px;
    z-index: 2;
    cursor: pointer;
}

.carousel button.slick-next{
    background-image: url("../images/icons/chevron-right-solid.svg");
    background-repeat: no-repeat;
    border: none;
    position: absolute;
    height:20px;
    width: 20px;
    background-position: 50% 50%;
    text-indent: -9000px;
    background-color: transparent;
    top: 50%;
    right: -10px;
    z-index: 2;
    cursor: pointer;
}

.wrapping-link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
  }

/* Product tabs */

.slTabs li:first-child a, .slTabs li a{
    border-bottom-style: hidden;
    font-size: 1em;
    text-transform: uppercase;
    color: #033A44;
} 
  
.slTabs li:first-child a:hover, .slTabs li a:active, .slTabs li.active a, .slTabs li a:hover{
    color: #F15025;
}
.slTabs>ul {
    align-items: center;
    border-bottom-color: #dbdbdb;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.gallery-tabs ul:first-child {
    position: absolute;
    width:100%;
    z-index:3;
}

.gallery-tabs ul:first-child li {    
    float:right;
    top:0;
    width:100px;
    height: 50px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border: none;
    font-size: 1em;
    text-align: center;
    padding-top: 10px;
    z-index: 3;
}

.gallery-tabs ul:first-child li {
    background-color: #E7ECEF;
    cursor:pointer;
}

.gallery-tabs ul:first-child li.active,.gallery-tabs ul:first-child li:hover{
    background-color: #D8EFF4;
}
.gallery-tabs ul:first-child li a {color:#898989;}
.gallery-tabs ul:first-child li.active a,.gallery-tabs ul:first-child li:hover a {color:#033A44;}

.slTabs>ul>li{
    margin: 10px 10px;
}

.slTabs>div>div {
    float:left;
    margin: 20px 40px 20px 0;
}

.slTabs>div>div>p{
    display: inline-block;
    margin-left: 15px;
}
.slTabs>div>div>i{
    font-size: 1.3em;
}

.error-wrapper{
    background-color: #E7ECEF;
    text-align: center;
    margin-bottom: 40px;
}
.error-wrapper h4{
    font-size: 1.7em;
}

.error-wrapper button{
    margin-top: 30px;
}

.error-wrapper img{
    max-width: 730px;
    max-width: 60%;
}

/* Extra Large display */
@media(max-width: 1171px) {
    .choose-brand>button{
        width: 80px;
        height: 35px;
    }

}
@media(max-width: 1215px){
    .brand-tiles>.columns>.column img{
        max-width: 110px;
    }
}

/* Large display */
@media(max-width: 1170px) and (min-width: 1024px) {
    .grid-item {
        flex-basis: 33.33%;
    }
}

/* Medium display */
@media(max-width: 1023px) and (min-width: 721px){
    #aligncenter{
        padding: 1.5rem 0;
    }
    .grid-item {
        flex-basis: 33.33%;
    }
    .footer-items img{
        display: none;
    }    
    #navbar-collapse-button .navbar-link::after{
        display: none;
    }

}

@media(max-width: 1023px) {
    #filter-collapse-button .navbar-item,
    #filter-collapse-button #reset{
        margin-left: 40px;
}
}

@media(max-width: 900px){
    .wrapper-slider-img .subtitle.is-3{
        font-size: 1.3em;
    }
    .wrapper-slider-img .subtitle.is-5{
        font-size: 1em;
    }

    #navbar-collapse-button .navbar-link::after{
        display: none;
    }

}
/*Small bulma mobile*/ 
@media(max-width: 768px) {
    .is-mobile-reversed {
        flex-direction: column-reverse;
        display: flex;
    }
    .footer-right>p, .footer-right>h2, .footer-right>div{
        text-align: center;
    }

    .columns.is-mobile>.column.is-5{
        margin-top: 0.8rem!important;
        display: block;
        text-align: center;
        width: 100%;
    }

    .one-series div:last-child{
        display: none;
    }

    .brand-tiles>.columns>.column>div>div{
        display:inline-block;
    }

    .coworkers img{
        max-width: 250px;
    }
}

/* Extra small display */
@media(max-width: 720px) {
    .repairs div:last-child{
        display: none;
    }

    .button.is-primary.is-large{
        font-size: 1em;
    }

    #aligncenter{
        padding: 2rem 0;
    }

    .grid-item {
        flex-basis: 50%;
    }

    .footer-items img{
        display: none;
    } 
    .modal-content {
        width: 100%;
    }
}
/* Super Small display */
    @media(max-width: 555px) {
    .grid-item {
        flex-basis: 100%;
    }
    .repairs div:last-child{
        display: none;
    }

    .footer-items img{
        display: none;
    }  

    .slTabs li:first-child a, .slTabs li a, .slTabs li a{
        font-size: 0.8em;
    } 

    .slTabs>ul>li{
        margin: 0 5px;
    }
    .certificate-logos img{
        height: 40px;
        margin: 5px 5px;
    }
    .hero-body{
        padding: 1rem;
    }
}
header.container {
    margin:5px auto;
}
.footer-copyright {
    padding:0 20px;
}
.carouselWrapper {
    width:100vw;
    overflow:hidden;
}
.carousel.wrapper-carousel-img {
    flex-shrink: 0;
}



/*----------------------------MultiSelect------------------------*/
.multi-select-container {
    display: inline-block;
    position: relative;
}

.multi-select-menu {
    position: absolute;
    left: 0;
    top: 0.8em;
    z-index: 1;
    float: left;
    min-width: 100%;
    background: #fff;
    margin: 1em 0;
    border: 1px solid #aaa;
    display: none;
}

.multi-select-menuitem {
    display: block;
    font-size: 0.875em;
    padding: 0.6em 1em 0.6em 30px;
    white-space: nowrap;
    text-align: left;
}

.multi-select-menuitem--titled:before {
    display: block;
    font-weight: bold;
    content: attr(data-group-title);
    margin: 0 0 0.25em -20px;
}

.multi-select-menuitem--titledsr:before {
    display: block;
    font-weight: bold;
    content: attr(data-group-title);
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.multi-select-menuitem + .multi-select-menuitem {
    padding-top: 0;
}

.multi-select-presets {
    border-bottom: 1px solid #ddd;
}

.multi-select-menuitem>input{
    position: absolute;
    margin-top: 0.25em;
    margin-left: -20px;
}

.multi-select-button {
    display: inline-block;
    font-size: 1em;
    padding: 0.2em 0.6em;
    max-width: 16em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: -0.5em;
    background-color: #E7ECEF;
    cursor: default;
}

.multi-select-button:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.4em 0.4em 0 0.4em;
    border-color: #999 transparent transparent transparent;
    margin-left: 0.4em;
    vertical-align: 0.1em;
}

.multi-select-container--open .multi-select-menu {
    display: block;
}

.multi-select-container--open .multi-select-button:after {
    border-width: 0 0.4em 0.4em 0.4em;
    border-color: transparent transparent #999 transparent;
}

.multi-select-container--positioned .multi-select-menu {
    /* Avoid border/padding on menu messing with JavaScript width calculation */
    box-sizing: border-box;
}

.multi-select-container--positioned .multi-select-menu label {
    /* Allow labels to line wrap when menu is artificially narrowed */
    white-space: normal;
}
/*----------------------------MultiSelect------------------------*/

#product-filter .multi-select-menuitems label {text-align: left;}

/*custom filter checkboxes*/
.multi-select-menuitem {
    display: block;
    margin-bottom: 15px;
  }
  
  .multi-select-menuitem input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  
  .multi-select-menuitem label {
    position: relative;
    cursor: pointer;
  }
  
  .multi-select-menuitem label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #0079bf;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .multi-select-menuitem input:checked + label:before {
    content: '';
    background: #0079bf;
  }